@tailwind base;
@tailwind components;
@tailwind utilities;

#userlistdiv::-webkit-scrollbar {
  display: none;
}

#userlistdiv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 14, 24, 35;
    --background-rgb: 247, 248, 250;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply font-sans;
}

select { 
  appearance:none;
}

@keyframes toastAppear {
  from {
    opacity: 0;
    transform: translate(-50%, -1rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-toastAppear {
  animation: toastAppear 0.5s ease-out forwards;
}